DATABASE_URL=postgresql://octranspo:octranspo@localhost:5432/octranspo_live
GTFS_STATIC_URL=https://oct-gtfs-emasagcnfmcgeham.z01.azurefd.net/public-access/GTFSExport.zip
GTFS_RT_VEHICLE_POSITIONS_URL=https://nextrip-public-api.azure-api.net/octranspo/gtfs-rt-vp/beta/v1/VehiclePositions
GTFS_PRIMARY_KEY=
ADMIN_API_KEY=change-me-in-production
DEBUG=True
